body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',sans-serif; 
}
h1 {
    margin : 50px, auto ,0 ,auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:  #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color:  #66BFBF;
    padding-bottom: 10px;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: rgb(186, 249, 241);
    position: relative;
    padding-top: 100px;
}
p {
    font-family: 'Gelasio',sans-serif;
    line-height: 2;
    
}
a{
    color: #11999E;  
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px  
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin : 100px auto;
}
.middle-container{
    padding: 100px 0;
}
.bottom-container{
    padding: 50px 0 20px;
    background-color: #66BFBF;
}
.intro{
    width: 40%;
    margin: auto;
}
.profile-img{
    height: 200px;
    width: 200px;
    border-radius: 200px;
   
}
.programming{  
    width: 25%;
    border-radius: 50px;
    float: left;
    margin-right: 30px;
}
.editing{   
    width: 25%;
    border-radius: 200px;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.contact-me-para{
    margin : 40px auto 60px;
    width: 40%;
}
.btn {
    background: #11cdd4;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top:50px;
}
  
.btn:hover {
    background: #30e3cb;
    text-decoration: none;
}

.footer-part{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding : 20px 0;
}
